@charset "UTF-8";

:root{
    --fonte1: "Bitter", serif; /* cabeçalho*/
    --fonte2: Arial, Helvetica, sans-serif;
}

main.sobre{
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 1000px;
    height: 900px;
    background-color: black;
}

iframe{
    display: block;
    margin: auto;    
}

main.sobre > article{
    color: white;
    font-family: var(--fonte2);
}

main.sobre > article > p{
    padding: 30px 20px 0px 20px;
    text-align: justify;
    line-height: 25px;
}

